/* Style global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding-bottom: 6em; /* Espace pour le footer fixé */
}

small {
  text-transform: uppercase;
}
/* En-tête et pied de page */
header,
footer {
  background-color: #004c99;
  color: white;
  text-align: center;
  padding: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Mise en page principale */
main {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sections repliables */
.collapsible-principal {
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 850px;
  width: 100%;
}

.collapsible {
  margin-bottom: 1em;
  margin-left: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 800px;
  width: 100%;
}

.collapsible-header {
  background-color: #0073e6;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.collapsible-content {
  display: none;
  padding: 0.5em;
  background-color: #f9f9f9;
}

h2 {
  transition: color 1s ease, transform 0.8s ease; /* Transition douce pour un effet fluide */
}

h2:hover {
  color: #0073e6; /* Change la couleur du texte */
  background-color: #ffffff;
  border: 1px solid #0073e6;
  transform: scale(1.05); /* Agrandit légèrement le texte */
}

/* Listes ordonnées */
ol,
ul {
  margin-left: 2.5em;
}

/* Liens */
a {
  color: #004c99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsivité */
@media (max-width: 1024px) {
  main {
    padding: 1em;
  }

  .collapsible-header,
  .collapsible-content {
    padding: 1em;
  }
}

pre {
  left: 0;
  white-space: pre-wrap; /* Permet aux longues lignes de se couper */
  word-wrap: break-word; /* Coupe les mots qui dépassent */
  overflow: auto; /* Ajoute une barre de défilement si nécessaire */
  max-width: 100%; /* Limite la largeur au conteneur */
  background-color: #d9d9d9; /* Optionnel : ajoute un fond pour le code */
  padding: 10px;
  border-radius: 5px;
}

code {
  font-family: "Courier New", Courier, monospace; /* Police de type monospace */
  font-size: 1em; /* Taille de police ajustable */
}

@media (max-width: 900px) {
  header,
  footer {
    padding: 0.5em 0;
  }

  .collapsible-header {
    padding: 0.5em;
    text-align: center;
  }

  .collapsible-content {
    padding: 0.5em;
  }

  footer {
    padding: 0.5em 0;
  }
}
